@if (onResizeImage === ResizeImage.maximize) {
  <div class="relative pt-16">
    <img
      id="fullscreen-animated-image"
      [ngSrc]="currentImage.src"
      [alt]="currentImage.alt"
      [class]="animationClass"
      class="h-full w-full object-cover select-none"
      width="1920"
      height="1080"
    />

    <div
      class="absolute bg-gray-400 p-2 rounded-lg text-white bottom-4 right-6 text-2xl hover:cursor-pointer hidden sm:flex hover:scale-125"
      (click)="toggleResizeImage()"
    >
      <ng-icon name="bootstrapFullscreenExit" />
    </div>
  </div>

  <div class="my-2">
    <div class="flex-row flex items-center justify-center">
      <div class="absolute left-4">
        <app-back-button />
      </div>
      <ng-icon
        class="transform hover:scale-125 ease-in-out cursor-pointer duration-200 text-2xl"
        name="bootstrapChevronLeft"
        (click)="previousImage()"
      />
      <div class="flex space-x-2 mx-12">
        @for (image of images; track image) {
          <button
            (click)="goToImage($index)"
            [class]="
              'w-3 h-3 rounded-full bg-gray-300 transition-all ' +
              ($index === currentIndex ? 'bg-primary scale-110' : '')
            "
          ></button>
        }
      </div>
      <ng-icon
        class="transform hover:scale-125 ease-in-out cursor-pointer duration-200 text-2xl"
        name="bootstrapChevronRight"
        (click)="nextImage()"
      />
    </div>
  </div>
} @else {
  <div class="hidden sm:flex items-center justify-center">
    <div class="w-full max-w-[100rem] h-screen px-4 flex flex-row items-center">
      <div class="hidden sm:block">
        <ng-icon
          (click)="previousImage()"
          name="bootstrapChevronLeft"
          class="cursor-pointer text-neutral-500 hover:text-neutral-700 text-3xl mr-4 transition transform ease-in-out hover:scale-125"
        />
      </div>
      <div
        class="max-w-full sm:flex hidden sm:flex-1 justify-center items-center overflow-hidden"
      >
        <div class="relative">
          <img
            id="animated-image"
            [ngSrc]="currentImage.src"
            width="1280"
            height="720"
            [alt]="currentImage.alt"
            [class]="
              'object-contain rounded-lg shadow-lg border-2 border-gray-300 select-none focus:outline-none ' +
              animationClass
            "
          />

          <div
            class="absolute bg-gray-400 p-2 rounded-lg text-white bottom-4 right-6 text-2xl hover:cursor-pointer hidden sm:flex hover:scale-125"
            (click)="toggleResizeImage()"
          >
            <ng-icon name="bootstrapFullscreen" />
          </div>
        </div>
      </div>

      <div class="hidden sm:block">
        <ng-icon
          name="bootstrapChevronRight"
          class="cursor-pointer text-3xl text-neutral-500 hover:text-neutral-700 ml-4 transition transform ease-in-out hover:scale-125"
          (click)="nextImage()"
        />
      </div>
    </div>
  </div>
  <div class="hidden sm:flex justify-center -mt-12 items-center space-x-2">
    @for (image of images; track image) {
      <button
        (click)="goToImage($index)"
        [class]="
          'w-3 h-3 rounded-full bg-gray-300 transition-all ' +
          ($index === currentIndex ? 'bg-primary scale-110' : '')
        "
      ></button>
    }
  </div>
  <div class="sm:hidden flex flex-col items-center px-4 pt-24">
    @for (image of images; track image) {
      <img
        [ngSrc]="image.src"
        width="1280"
        height="720"
        [alt]="image.alt"
        class="object-contain rounded-lg shadow-lg border-2 border-gray-300 select-none focus:outline-none"
      />
    }
    <button
      type="button"
      class="my-4 w-1/2 sm:hidden border border-gray-500 bg-primary text-white text-center rounded-lg py-2 px-4 text-sm font-poppins !tracking-normal ml-4"
      [routerLink]="'/'"
    >
      <span>Volver atrás</span>
      <ng-icon name="bootstrapHouseDoor" class="text-white text-lg ml-2" />
    </button>
  </div>
}
