<div class="flex items-center justify-center h-auto self-center">
  <div class="w-full max-w-[100rem] mt-[4rem] px-4 flex flex-row items-center">
    <div>
      <ng-icon
        (click)="previousImage()"
        name="bootstrapChevronLeft"
        class="cursor-pointer text-neutral-500 hover:text-neutral-700 text-3xl mr-4 transition transform ease-in-out hover:scale-125"
      />
    </div>
    <img
      [ngSrc]="currentImage.src"
      [alt]="currentImage.alt"
      class="w-full h-[50rem] rounded-lg shadow-lg border-2 border-gray-300 select-none focus:outline-none"
      width="1000"
      height="1000"
    />
    <div>
      <ng-icon
        name="bootstrapChevronRight"
        class="cursor-pointer text-3xl text-neutral-500 hover:text-neutral-700 ml-4 transition transform ease-in-out hover:scale-125"
        (click)="nextImage()"
      />
    </div>
  </div>
</div>
