<div class="flex items-center justify-center h-auto self-center">
  <div
    class="w-full max-w-[100rem] mt-[6.5rem] px-4 flex flex-row items-center"
  >
    <div class="hidden sm:block">
      <ng-icon
        (click)="previousImage()"
        name="bootstrapChevronLeft"
        class="cursor-pointer text-neutral-500 hover:text-neutral-700 text-3xl mr-4 transition transform ease-in-out hover:scale-125"
      />
    </div>
    <div
      class="max-w-full sm:flex hidden sm:flex-1 justify-center items-center"
    >
      <img
        [ngSrc]="currentImage.src"
        width="1280"
        height="720"
        [alt]="currentImage.alt"
        class="object-contain rounded-lg shadow-lg border-2 border-gray-300 select-none focus:outline-none"
      />
    </div>
    <div class="sm:hidden flex flex-col">
      @for (image of images; track image) {
        <img
          [ngSrc]="image.src"
          width="1280"
          height="720"
          [alt]="image.alt"
          class="object-contain rounded-lg shadow-lg border-2 border-gray-300 select-none focus:outline-none"
        />
      }
    </div>

    <div class="hidden sm:block">
      <ng-icon
        name="bootstrapChevronRight"
        class="cursor-pointer text-3xl text-neutral-500 hover:text-neutral-700 ml-4 transition transform ease-in-out hover:scale-125"
        (click)="nextImage()"
      />
    </div>
  </div>
</div>

<button
  type="button"
  class="my-4 sm:hidden border border-gray-500 bg-primary text-white text-center rounded-lg py-2 px-4 text-sm font-poppins !tracking-normal flex ml-4"
  [routerLink]="'/'"
>
  <span>Volver atrás</span>
  <ng-icon name="bootstrapHouseDoor" class="text-white text-lg ml-2" />
</button>
