@font-face {
  font-family: "Koliko";
  src:
    url("fonts/koliko-Light.ttf") format("truetype"),
    url("fonts/koliko-Bold.ttf") format("truetype"),
    url("fonts/koliko-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "typeface-poppins/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Koliko", sans-serif;
  letter-spacing: 0.25rem;
}
