@font-face {
  font-family: "Koliko";
  src:
    url("fonts/koliko-Light.ttf") format("truetype"),
    url("fonts/koliko-Bold.ttf") format("truetype"),
    url("fonts/koliko-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "typeface-poppins/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Koliko", sans-serif;
  letter-spacing: 0.25rem;
}

@keyframes fall {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fall {
  animation: fall 0.6s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.6s ease-out;
}
