<div class="grid grid-cols-1 gap-4">
  <div class="relative cursor-pointer group">
    <img src="render final alzado.jpg" alt="render photo" class="fit-content" />
  </div>

  <hr class="h-4" />

  <div class="grid grid-cols-2 gap-4">
    <div class="relative cursor-pointer group">
      <img
        src="trasteo con photoshop.jpg"
        alt="photoshop render"
        class="fit-content group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Ver proyecto
      </div>
    </div>
    <div class="relative cursor-pointer group">
      <img
        src="HERNANDEZREQUESPABLO_E3.jpg"
        alt="another render"
        class="fit-content group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Ver proyecto
      </div>
    </div>
  </div>
</div>
