<div class="grid grid-cols-1 gap-4">
  <div class="relative cursor-pointer group">
    <img src="2/PORTADA.jpg" alt="render photo" class="fit-content" />
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="relative cursor-pointer group" [routerLink]="['gallery', 1]">
      <img
        src="1/portada.jpg"
        alt="photoshop render"
        class="object-cover h-96 w-full group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Proyectos IV: Rehabilitación de Cuartel
      </div>
    </div>
    <div class="relative cursor-pointer group" [routerLink]="['gallery', 2]">
      <img
        src="2/PORTADA.jpg"
        alt="another render"
        class="object-cover h-96 w-full group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Modelado de Entornos: Modelados Icónicos
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1">
    <div class="relative cursor-pointer group" [routerLink]="['gallery', 3]">
      <img
        src="3/PORTADA.jpg"
        alt="Portada proyecto"
        class="object-cover h-[30rem] w-full group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Proyectos IV: Campanario
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="relative cursor-pointer group" [routerLink]="['gallery', 4]">
      <img
        src="4/PORTADA.jpg"
        alt="Arquitectura Efímera"
        class="object-cover h-96 w-full group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Arquitectura Efímera: CRAI
      </div>
    </div>
    <div class="relative cursor-pointer group" [routerLink]="['gallery', 5]">
      <img
        src="5/PORTADA.jpg"
        alt="another render"
        class="object-cover h-96 w-full group-hover:opacity-70 transition-opacity duration-300"
      />
      <div
        class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-white text-2xl font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        Prácticas Profesionales: Vivienda unifamiliar
      </div>
    </div>
  </div>
</div>
